@charset "UTF 8";

body {
    background-color: lightsteelblue; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }
 h1 {
     color: rgb(49, 30, 30);
     background-color: rgb(75, 94, 94);
 }

 h2 {
     color: rgb(28, 25, 31);
 }
 
 p {
     text-align: justify;
 }